// taking base styles from previous example
@import '../04-less/example04';

.page-body {
  position: relative;

  #save-button {
    position: absolute;
    top: 0px; right: 0px;
    font-size: 30px;
  }
}

body {
  margin: 0;
}
